@using LetsGoSEA.WebSite.Services
@inject AboutUsService _aboutUsService

@{
    ViewData["Title"] = "About Us";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p style="font-size:20px; color: #1b6ec2">
    We are the CSI -- C Sharp Investigators -- from Seattle, Washington! 
    We are a group of computer science students studying at Seattle University. 
    With the expanding city population, we decided to build this website to help Seattleites navigate, explore, and 
    investigate our neighborhoods more easily.  
    For the computer nerds out there, we built this website using C# and ASP.NET and used the Tableau software to 
    generate our analytics and visuals. Feel free to connect with us on LinkedIn!  
</p>
<!--Owl card slider-->

<link rel="stylesheet" type="text/css" href="~/css/owl.carousel.min.css">
<section id="slider" class="pt-5">
    <div class="container">
        <div class="slider">
            <div class="owl-carousel">
                @foreach (var teamMember in _aboutUsService.GetAboutUs())
                {
                    <div class="slider-card team-cards">
                        <div class="team-member">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <img src=@teamMember.Image alt="image" height="300">
                            </div>
                            <div class="member-name">
                                <h1 class="mb-0 text-center member-name">
                                    @teamMember.Name
                                    <a href=@teamMember.LinkedIn target="blank"><img src=~/image/linkin_logo.jpg width="10" !important/></a>
                                    </h1>
                            </div>
                            <p>@teamMember.Bio</p>
                        </div>
                    </div>
                }
            </div>
        </div>            
    </div>
</section>
<script src="~/js/owl.carousel.min.js"></script>