@page
@model LetsGoSEA.WebSite.Views.Neighborhoods.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>NeighborhoodModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NeighborhoodModel.Name" class="control-label"></label>
                <input asp-for="NeighborhoodModel.Name" class="form-control" />
                <span asp-validation-for="NeighborhoodModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeighborhoodModel.Image" class="control-label"></label>
                <input asp-for="NeighborhoodModel.Image" class="form-control" />
                <span asp-validation-for="NeighborhoodModel.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeighborhoodModel.City" class="control-label"></label>
                <input asp-for="NeighborhoodModel.City" class="form-control" />
                <span asp-validation-for="NeighborhoodModel.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeighborhoodModel.State" class="control-label"></label>
                <input asp-for="NeighborhoodModel.State" class="form-control" />
                <span asp-validation-for="NeighborhoodModel.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeighborhoodModel.ShortDesc" class="control-label"></label>
                <input asp-for="NeighborhoodModel.ShortDesc" class="form-control" />
                <span asp-validation-for="NeighborhoodModel.ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
