@using LetsGoSEA.WebSite.Services
@inject NeighborhoodService _neighborhoodService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!--Index page of neighborhoods to show the cards of them!-->
<h1>Explore the beautiful neighborhoods of Seattle!</h1>

<div>
    <p>
        <a asp-action="Create">Add a Neighborhood</a>
    </p>
</div>

<div class="card-columns">
    @foreach (var neighborhood in _neighborhoodService.GetNeighborhoods())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@neighborhood.Image');">
            </div>
            <div class="card-body">
                <h5 class="card-title">@neighborhood.Name</h5>
            </div>
            <div class="card-footer">
                <small>@neighborhood.ShortDesc</small> <br />
                <small class="text-muted" style="display: block">
                    <a class="btn btn-primary" role="button" href="/Neighborhoods/@neighborhood.Name">Explore More</a>
                </small>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">