@page
@using ContosoCrafts.WebSite.Components
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h2>Mission statement</h2>

<script src="_framework/blazor.server.js"></script>