@page
@using ContosoCrafts.WebSite.Components
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h2>Mission statement</h2>

<!--Have page render AboutUs component-->
@(await Html.RenderComponentAsync<AboutUs>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>