@page
@model ErrorModel

<!-- Error page to show, contains error messages to render if request cannot be completed-->
@{
    ViewData["Title"] = "Error";
}
<div class="container">
<div id="not-found">
    <div class="not-found">
        <div class="not-found-404">
            <h1>Oops!</h1>
            <h2>404 - The Page can't be found</h2>
        </div>
        <a href="/">Go TO Homepage</a>
    </div>
</div>    
</div>