@page
@using LetsGoSEA.WebSite.Components
@model Neighborhood
@{
    ViewData["Title"] = "Fremont"; 
}

<h1>@ViewData["Title"]</h1>

<!--Render Neighborhood component-->
@(await Html.RenderComponentAsync<Neighborhood>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>