@page
@model IndexModel
<!--Index page (homepage) of 'Lets Go SEA' !-->
@{
    ViewData["Title"] = "Home page";
}


<video autoplay muted loop preload="auto" id="myVideo">
    <source src="~/image/LetsGoSEA_Homepage.mov" type="video/mp4" />
</video>

<!-- Start Header Section -->
<div class="banner">
    <div class="overlay">
        <div class="container">
            <div class="intro-text">
                <h1 class="homepage-title-content">Lets Go SEA</h1>
                <p class="homepage-tagline-content">The one-stop site to explore the beautiful neighborhoods of Seattle!</p>
                <a class="btn btn-primary btn-xl" role="button" asp-page="/Explore/Index">Enter</a>
            </div>
        </div>
    </div>
</div>
<!-- End Header Section -->

<script src="_framework/blazor.server.js"></script>