@page
@model IndexModel

<!--Index page (homepage) of 'Lets Go SEA' !-->
@{
    ViewData["Title"] = "Home page";
}


<video autoplay muted loop preload="auto" id="myVideo">
    <source src="~/image/LetsGoSEA_Homepage.mov" type="video/mp4" />
</video>

<div class="home-title">
        <h1 class="homepage-title-content">Lets Go SEA</h1>
</div>
<div class="home-tagline">
    <p1 class="homepage-tagline-content">"The one-stop site to explore the beautiful neighborhoods of Seattle!"</p1>
</div>
<div>
    <a class="btn btn-primary btn-xl" role="button" asp-page="/Explore/Index">Lets Go Sea!</a>
</div>

<script src="_framework/blazor.server.js"></script>