@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Index page of 'Lets Go SEA' !-->
<video autoplay muted loop preload="auto" id="myVideo">
    <source src="~/image/LetsGoSEA_Homepage.mov" type="video/mp4" />
</video>
<div class="jumbotron" style="background:rgba(72,74,71,.45); background-size:300px 400px; border-radius: 25px">
    <div class="lead">
        <div style="text-align:justify">
            <h1>Lets Go SEA</h1>  
        </div>
        <div>
            <h1>The One Stop Site to explore the beautiful neighborhoods of Seattle</h1>
        </div>
       
    </div>
    <hr class="my-4" border-0/>
    <a class="btn btn-primary btn-xl" role="button" asp-controller="Neighborhoods" asp-action="Index">Lets Go Sea!</a>

</div>


<script src="_framework/blazor.server.js"></script>