@page
@using ContosoCrafts.WebSite.Components 
@model NeighborhoodModel
@{
    ViewData["Title"] = "Neighborhood Page"; // TODO: Update to autofill selected Neighborhood                                         
}

<h1>@ViewData["Title"]</h1>
