@page
@using ContosoCrafts.WebSite.Components
@model NeighborhoodModel
@{
    ViewData["Title"] = "Neighborhood Page"; // TODO: Update to autofill selected Neighborhood
}

<h1>@ViewData["Title"]</h1>

<!--Render Neighborhood component-->
@(await Html.RenderComponentAsync<Neighborhood>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>