<!--About Us Page: Team Member Info-->
<div class="team-cards">
    <div class="team-member">
        <div class="member-name">
            <h1>Narissa Tsuboi</h1>
            <a href="https://www.linkedin.com/in/tsuboin/"><img src="./image/linkin_logo.jpg" width="20" /></a>
        </div>
        <img src="./image/Lion.jpg" alt="lion" height="300">
        <h2>Bio goes here</h2>
    </div>

    <div class="team-member">
        <div class="member-name">
            <h1>Nirmalya Ghosh</h1>
            <a href="https://www.linkedin.com/in/nirmalyagh/"><img src="./image/linkin_logo.jpg" width="20" /></a>
        </div>
        <img src="./image/Lion2.jpg" alt="lion" height="300">
        <h2>Bio goes here</h2>
    </div>

    <div class="team-member">
        <div class="member-name">
            <h1>Nuli Bang</h1>
            <a href="https://www.linkedin.com/in/nuli-claire-bang/"><img src="./image/linkin_logo.jpg" width="20" /></a>
        </div>
        <img src="./image/Otter.jpg" alt="lion" height="300">
        <h2>Bio goes here</h2>
    </div>

    <div class="team-member">
        <div class="member-name">
            <h1>Evan Marshall</h1>
            <a href="https://www.linkedin.com/in/evan-marshall-87594a163/"><img src="./image/linkin_logo.jpg" width="20" /></a>
        </div>
        <img src="./image/GoldenRetriever.jpg" alt="lion" height="300">
        <h2>Bio goes here</h2>
    </div>

    <div class="team-member">
        <div class="member-name">
            <h1>Zi Wang</h1>
            <a href="https://www.linkedin.com/in/zw4-code/"><img src="./image/linkin_logo.jpg" width="20" /></a>
        </div>
        <img src="./image/Beaver.jpg" alt="lion" height="300">
        <h2>Bio goes here</h2>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">