@page "{id}"
@model LetsGoSEA.WebSite.Pages.Neighborhood.DeleteModel

@{
    ViewData["Title"] = "Delete page";
}

<!--CRUDI: Delete page to show: contains some data of the selected neighborhood and a button to confirm Delete-->

<h1>Delete</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.neighborhood.id)

        <div class="form-group">
            <label asp-for="neighborhood.name" class="control-label"></label>
            <input asp-for="neighborhood.name" class="form-control" readonly />
            <span asp-validation-for="neighborhood.name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.image" class="control-label"></label>
            <input asp-for="neighborhood.image" class="form-control" readonly />
            <span asp-validation-for="neighborhood.image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.city" class="control-label"></label>
            <input asp-for="neighborhood.city" class="form-control" readonly />
            <span asp-validation-for="neighborhood.city" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.state" class="control-label"></label>
            <input asp-for="neighborhood.state" class="form-control" readonly />
            <span asp-validation-for="neighborhood.state" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.shortDesc" class="control-label"></label>
            <input asp-for="neighborhood.shortDesc" class="form-control" readonly />
            <span asp-validation-for="neighborhood.shortDesc" class="text-danger"></span>
        </div>

        <h1>Confirm Delete of this item</h1>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}