@page "{id}"
@using LetsGoSEA.WebSite.Services
@inject NeighborhoodService NeighborhoodService
@model LetsGoSEA.WebSite.Pages.Neighborhood.UpdateModel

@{
    ViewData["Title"] = "Update page";
}
    
<!--CRUDI: Update page to show: Form for updating neighborhood-->
<h1>Update</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.neighborhood.id)

        <div class="form-group">
            <label asp-for="neighborhood.id" class="control-label"></label>
            <input asp-for="neighborhood.id" class="form-control" readonly />
            <span asp-validation-for="neighborhood.id" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.name" class="control-label"></label>
            <input asp-for="neighborhood.name" class="form-control" />
            <span asp-validation-for="neighborhood.name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.image" class="control-label"></label>
            <input asp-for="neighborhood.image" class="form-control" />
            <span asp-validation-for="neighborhood.image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.city" class="control-label"></label>
            <input asp-for="neighborhood.city" class="form-control" readonly disabled />
            <span asp-validation-for="neighborhood.city" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.city" class="control-label"></label>
            <input asp-for="neighborhood.state" class="form-control" readonly disabled />
            <span asp-validation-for="neighborhood.state" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.state" class="control-label"></label>
            <input asp-for="neighborhood.address" class="form-control" />
            <span asp-validation-for="neighborhood.address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="neighborhood.address" class="control-label"></label>
            <input asp-for="neighborhood.shortDesc" class="form-control" />
            <span asp-validation-for="neighborhood.shortDesc" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}